*.pyc
.DS_Store
*.DS_Store
build/
dist/
KGGraph.egg-info/
saved_model/
__pycache__/
finetune/
chemutils.ipynb
data_utils.py
decoder.py
gnn_model.py
pretrain.py
test.ipynb
treeEx.ipynb
chemutils.py
period_table.json
check.py
data/Cora/
data/alk/