*.pyc
.DS_Store
*.DS_Store
build/
dist/
KGGraph.egg-info/
__pycache__/
treeEx.ipynb
period_table.json
check.py
data/Cora/
data/alk/processed/
data/tox21/processed/
finetune/dataset/
saved_model/
chemutils.ipynb
data/*.pt
data/raw/
model/
data/processed/
KGGraph/KGGModel/Train/train_utils_draft.py
Data/*/processed/
Data/*/figures/
data/random_conform/
data/optim_conform/
data/partial_charge/
Data/*/processed/
Data/*/*.csv
Data/*/*.pth
Data/*/*/processed/
Data/*/*/*.csv
Data/*/*/*.pth
Data/*/*/figures/
KGGraph/KGGModel/Train/train_utils_draft.py
KGGraph/KGGModel/Architecture/GIN_generate.py
KGGraph/KGGModel/Architecture/GINNet.py
test.ipynb
test.py
finetune/model_checkpoints/
saved_model/
finetune/
gnn_model.py
Manuscripts/
KGGraph/KGGModel/Architecture/vocab_edge_attr_embedding.py
KGGraph/KGGModel/Architecture/vocab_x_embedding.py
pretrain.pth
Data/*.csv
Data/*.png
saved_model_randweights/
unittest/
.coverage
htmlcov/
flake8_report/